name: Build and test containers

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      API_CHAVE: ${{ secrets.API_CHAVE }}
      ARTEFATOS_PREDICAO_URI: ${{ secrets.ARTEFATOS_PREDICAO_URI }}
      JWT_ALGORITMO: HS256
      PORT: 8080
      TOKEN_VALIDADE_MINUTOS: 5256000000

    strategy:
      matrix:
        python-version: [311, 312, 313]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Spin up container
      env:
        DOCKERFILE: dockerfiles/python${{ matrix.python-version }}/Dockerfile
        IMAGE_NAME: ${{ matrix.python-version }}-test-image
      run: |
        echo "Building container for Python ${{ matrix.python-version }}."
        cat
        docker build -f ${{ env.DOCKERFILE }} -t ${{ env.IMAGE_NAME }}:local .
        docker run --rm \
          -p 5002:${{ env.PORT }} \
          -e PORT=${{ env.PORT }} \
          -e PYTHON_VERSION=${{ matrix.python-version }} \
          -e API_CHAVE=${{ env.API_CHAVE }} \
          -e JWT_ALGORITMO=${{ env.JWT_ALGORITMO }} \
          -e TOKEN_VALIDADE_MINUTOS=${{ env.TOKEN_VALIDADE_MINUTOS }} \
          ${{ env.IMAGE_NAME }}:local


    - name: Wait and check the health of the container
      run: |
        attempts=0

        while [ $attempts -lt 5 ]; do
          if curl -fsS http://localhost:${{ env.PORT }}/; then
            echo "Success!"
            exit 0
          fi

          attempts=$((attempts+1))
          sleep 1
        done

        echo "Failed after $attempts attempts"
        exit 1
